@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
	font: 1vw Segoe UI;
	--cyan-90: #cff5fc;
	--cyan-75: #86e5f9;
	--cyan-60: #3dd6f5;
	--cyan-50: #0dcaf0;
	--cyan-40: #0aa3c2;
	--cyan-25: #066679;
	--cyan-10: #032930;
}
head{
	width: 0px;
	height: 0px;
}
body{
	background-image: url('anivbg.jpg');
	background-attachment: fixed;
	background-origin: content-box;
	width: 100%;
	height: 100%;
}
.sidebar{
	left: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	width: 60px;
	z-index: 500;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	background-color: var(--cyan-50);
}
.sidebar-content{
	margin-top: 0.25rem;
	top: 0;
}
.sidebar-bottom{
	margin-bottom: 0.25rem;
	bottom:0;
}
.main-container{
	margin-left: 60px;
	bottom: 0;
	width: calc(100% - 60px);
}
.main-content{
	font: 40px Segoe UI Light;
	margin: 0px 12vw 1vw 12vw;
}
.content-header{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 8rem;
	color: var(--cyan-10);
}
.h1{
	font: 4rem Segoe UI;
}
.content{
	border: 10px solid var(--cyan-10);
	border-radius: 10px;
	background-color: var(--cyan-50);
	color: var(--cyan-10);
	top: 0;
	bottom: 0;
	padding: 0;
}
.content-1{
	padding: 0px;
	width: 35%;
}
.ability-cont{
	background-color: var(--cyan-25);
	border: 5px solid var(--cyan-10);
	border-radius: 5px;
}
.ability-cont h1{
	font: 2.5rem Segoe UI Bold;
	margin: 0.5rem; 
}
.ability-cont hr{
	background-color: white;
	width: 80%;
	height: 0.2rem;
	margin: 0.5rem auto 0.5rem auto;
}
.ability-desc img{
	height: 4rem;
	width: auto;
	margin: 1rem;
	border: 2px solid black;
}
.ability-desc p{
	font: 2rem Rubik;
	padding: 0.8rem;
	margin: 0;
}
.content-2{
	background-color: var(--cyan-25); 
	border: 5px solid black;
	width: 55%;
	margin: 1rem 0 1rem 0;
}
.anivInfo{
	height: 95%;
	width: 45%;
	border: 5px solid var(--cyan-10);
	border-radius: 5px;
}
.anivRender{
	width: 100%;
	height: auto;
	background-color: var(--cyan-10);
}
.anivDesc{
	width: 100%;
	height: 100%;
}
.anivData{
	height: 11%;
	text-align: center;
	font: 1.5rem Segoe UI Semibold;
	background-color: var(--cyan-50);
	border-top: 5px solid var(--cyan-10);
}
.anivName{
	font: 2rem Segoe UI Semibold;
	background-color: var(--cyan-10);
	color: white;
}
.anivData p{
	display: inline;
	vertical-align: middle;
}
.anivInfo2{
	height: 95%;
	width: 45%;
}
.anivInfo2 h1{
	color: white;
	background-color: var(--cyan-10);
	border: 5px solid var(--cyan-10);
	border-radius: 5px;
	padding: 0.5rem;
	font: 2rem Segoe UI Semibold;
}
.anivInfo2 p{
	background-color: var(--cyan-10);
	border: 5px solid var(--cyan-10);
	border-radius: 5px;
	padding: 0.5rem;
	font: 1.1rem Rubik;
	color: white;
	height: 100%;
	overflow: auto;
}